*.pyc
__pycache__/

.DS_Store
.idea/

log/
*.log
my_log/

tags

*.out
*.swo
*.swp
*.swn
*.mp3
*.mp4
*.jpg

local_test.py


*.png
*.JPEG
*.jpeg
*.BMP
*.bmp
*.GIF
*.gif
*.PNG
*.png

*/.qiniu_pythonsdk_hostscache.json
.qiniu_pythonsdk_hostscache.json

*.dot
*.doc
*.zip
*.sql
